/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #666;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    hyphens: auto;
    overflow-wrap: break-word;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

.video embed, .video object, .video iframe {
     width: 100%;
      height: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #111;
    line-height: 1.1;
}

p {
    margin: 0 0 20px;
}

a {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #EC495E;
}

ul li {
    list-style: none;
}



/* --no-gutter-- */
.no-gutter::after, .no-gutter::before {
    content: " ";
    display: table;
}

.no-gutter::after {
    clear: both;
}

.no-gutter {
    margin: 0 !important;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

/* --Socials-nav-- */
.social-link {
    text-align: center;
}

.social-link li {
}

.social-link li a {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    display: block;
    color: #333;
    font-size: 19px;
    padding-top: 6px;
    border: 1px solid #333;
}

.social-link li a:hover {
    background: #333856;
    color: #000;
    border: 1px solid #333856;
}

/* --Page-- */
body.index-page {
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------Header-Styles-------------------------------- */
/* ---------------------------------------------------------------------------- */
header.main-header {
    background-position: center center;
    background-size: cover;
    z-index: 1;
    min-height: 560px;
    position: relative;
    padding-top: 80px;
}

header.main-header:after {
    background: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.logo {
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 1;
    max-width: 200px;
}

.logo img {
}

/* Header Styles */
.header-text {
    color: #fff;
    padding: 50px 0 0;
    text-shadow: 1px 2px 2px #000;
    position: relative;
    z-index: 1;
}


.header-text-inner {
}

.header-text img {
    max-height: 300px;
}

.header-text h1 {
    margin: 0 0 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 60px;
    line-height: 1;
    border-bottom: 2px solid #fff;
}

.header-text p {
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2.3px;
}


@media (max-width: 767px) {
    .logo {
        text-align: center;
        margin: auto;
    }

    header.main-header {
        text-align: center;
    }

    .header-text {
        padding: 80px 0;
    }

    .header-text-inner {
        text-align: center;
        float: none;
        padding: 20px;
        border-right: none;
    }
}

@media (max-width: 500px) {
    header.main-header {
        padding-top: 50px;
    }

    .header-text {
        padding: 40px 0;
    }

    .header-text h1 {
        font-size: 40px;
    }

    .header-text p {
        font-size: 12px;
    }

}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content {
}

/* ---Heading--- */
.heading {
    margin-bottom: 60px;
    position: relative;
}

.heading h2 {
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0px;
    line-height: 50px;
    text-transform: uppercase;
}

.heading:after {
    position: absolute;
    content: "";
    width: 40px;
    height: 4px;
    background: #333856;
    left: 0;
    bottom: -30px;
}

.box-text.dark-style .heading:after {
    background: #fff;
}

.box-text .t-right .heading:after {
    left: calc(100% - 40px);
}

@media (max-width: 767px) {
    .heading h2 {
        font-size: 67px;
        line-height: 57px;
    }

    .heading:after {
        display: none;
    }
}

@media (max-width: 500px) {
    .heading h2 {
        font-size: 49px;
        line-height: 42px;
    }
}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Main Nav---------------------------------- */
/* ---------------------------------------------------------------------------- */
.nav-item {
    display: block;
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 400px;
    cursor: pointer
}

.nav-item-inner {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.nav-item h3.sub-title,
.nav-item .nav-item-detail {
    position: absolute;
    left: 7%;
    width: 91%;
}

.nav-item-image {
    position: relative;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.nav-item-image:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(36, 41, 67, 0.25);
}

.nav-item-image:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.9;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.nav-item-image.gradient-1:after {
    background: #ec8d81;
}

.nav-item-image.gradient-2:after {
    background: #ECAF92;
}

.nav-item-image.gradient-3:after {
    background: #8ea9e8;
}

.nav-item-image.gradient-4:after {
    background: #A071A7;
}

.nav-item-image.gradient-5:after {
    background: #8CB18F;
}

.nav-item-image.gradient-6:after {
    background: #9CC8D3;
}

.nav-item:hover .nav-item-image:after {
    opacity: 0
}

.nav-item h3.sub-title,
.nav-item h2.title {
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.nav-item h3.sub-title {
    font-weight: 600;
    font-size: 60px;
    margin: 0;
    top: 13%;
    z-index: 3;
}

.nav-item .nav-item-detail {
    bottom: 13%;
    z-index: 3;
}

.nav-item .nav-item-detail p {
    margin: 0;
    color: #eee;
    font-size: 14px;
}

.nav-item h2.title {
    font-weight: 500;
    margin: 0 0 10px;
    font-size: 40px;
    font-style: italic
}

@media (max-width: 767px) {
    .nav-item {
        border: none;
    }
}

@media (max-width: 500px) {
    .nav-item h3.sub-title {
        font-size: 50px;
    }

    .nav-item h2.title {
        font-size: 30px;
    }

    .nav-item .nav-item-detail p {
        font-size: 13px;
    }
}


/* ---------------------------------------------------------------------------- */
/* ------------------------------------Footer---------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {
    color: #666;
}

footer ul {
    padding: 0;
    margin-top: 10px;
}

footer a {
    color: #666;
}

footer a:hover {
    color: #333856;
}


footer .bottom-footer {
    text-align: center;
    background-color: #fff;
    padding: 30px 0 10px;
}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Margin------------------------------------ */
/* ---------------------------------------------------------------------------- */
.m-top10 {
    margin-top: 10px;
}

.m-top15 {
    margin-top: 15px;
}

.m-top20 {
    margin-top: 20px;
}

.m-top30 {
    margin-top: 30px;
}

.m-top50 {
    margin-top: 50px;
}

.m-top80 {
    margin-top: 100px;
}

.m-top100 {
    margin-top: 80px;
}

.m-top120 {
    margin-top: 120px;
}

.m-bot10 {
    margin-bottom: 10px;
}

.m-bot15 {
    margin-bottom: 15px;
}

.m-bot20 {
    margin-bottom: 20px;
}

.m-bot30 {
    margin-bottom: 30px;
}

.m-bot50 {
    margin-bottom: 50px;
}

.m-bot80 {
    margin-bottom: 80px;
}

.m-bot120 {
    margin-bottom: 120px;
}

.pd-exlarge-xs {
    padding: 100px 90px;
}

.pd-large-xs {
    padding: 80px 70px;
}

.pd-medium-xs {
    padding: 60px 50px;
}

.pd-small-xs {
    padding: 40px 30px;
}

@media only screen and (min-width: 768px) {
    .pd-exlarge-sm {
        padding: 100px 90px;
    }

    .pd-large-sm {
        padding: 80px 70px;
    }

    .pd-medium-sm {
        padding: 60px 50px;
    }

    .pd-small-sm {
        padding: 40px 30px;
    }
}

@media only screen and (min-width: 992px) {
    .pd-exlarge-md {
        padding: 100px 90px;
    }

    .pd-large-md {
        padding: 80px 70px;
    }

    .pd-medium-md {
        padding: 60px 50px;
    }

    .pd-small-md {
        padding: 40px 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .pd-exlarge-lg {
        padding: 100px 90px;
    }

    .pd-large-lg {
        padding: 80px 70px;
    }

    .pd-medium-lg {
        padding: 60px 50px;
    }

    .pd-small-lg {
        padding: 40px 30px;
    }
}




